.container {
    background-color: black;
    /* border-radius: 3px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.display-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color:lightsteelblue;
}

.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.jumbotron{
    background-color: lightsteelblue;
}

.card-group{
    height: 50vh;
}
